<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filter</key>
    <dict>
        <key>Bundles</key>
        <array>
            <dict>
                <key>CFBundleIdentifier</key>
                <string>com.garena.game.kgvn</string>
            </dict>
        </array>
    </dict>
    <key>ExecutablePath</key>
    <string>Liên Quân Mobile</string>
    <key>LoadPath</key>
    <string>/Library/MobileSubstrate/DynamicLibraries/34306jit.dylib</string>
    <key>LoadPriority</key>
    <integer>100</integer>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>OS_ACTIVITY_MODE</key>
        <string>disable</string>
    </dict>
    
    <key>Entitlements</key>
    <dict>
        <key>com.apple.private.cs.debugger</key>
        <true/>
        <key>task_for_pid-allow</key>
        <true/>
        <key>get-task-allow</key>
        <true/>
        <key>dynamic-codesigning</key>
        <true/>
        <key>com.apple.security.network.client</key>
        <true/>
        <key>com.apple.security.network.server</key>
        <true/>
    </dict>
</dict>
</plist>
