Package: com.boyngheoanvat.34306jit
Name: 34306jit
Depends: mobilesubstrate
Version: 2.0
Architecture: arm64 arm64e
Description: Hỗ trợ toàn bộ iPhone 64-bit
Maintainer: boyngheoanvat
Author: boyngheoanvat
Section: Tweaks
